@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14% 4%;
    --card: 0 0% 100%;
    --card-foreground: 20 14% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14% 4%;
    --primary: 25 95% 53%;
    --primary-foreground: 60 9% 98%;
    --secondary: 60 5% 96%;
    --secondary-foreground: 24 10% 10%;
    --muted: 60 5% 96%;
    --muted-foreground: 25 5% 45%;
    --accent: 60 5% 96%;
    --accent-foreground: 24 10% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 60 9% 98%;
    --border: 20 6% 90%;
    --input: 20 6% 90%;
    --ring: 25 95% 53%;
    --radius: 0.6rem;
  }

  .dark:root {
    --background: 20 14% 4%;
    --foreground: 60 9% 98%;
    --card: 20 14% 4%;
    --card-foreground: 60 9% 98%;
    --popover: 20 14% 4%;
    --popover-foreground: 60 9% 98%;
    --primary: 21 90% 48%;
    --primary-foreground: 60 9% 98%;
    --secondary: 12 7% 15%;
    --secondary-foreground: 60 9% 98%;
    --muted: 12 7% 15%;
    --muted-foreground: 24 5% 64%;
    --accent: 12 7% 15%;
    --accent-foreground: 60 9% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 60 9% 98%;
    --border: 12 7% 15%;
    --input: 12 7% 15%;
    --ring: 21 90% 48%;
  }
}